*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, sans-serif;
}
body{
  background-color: #f1f1ff;
}
/* -------------------------------------------------------- */
.header{
  background-color: #1c5288;
  padding: 2rem 1rem;
  color: white;
}