*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, sans-serif;
}
body{
  background-color: #f1f1ff;
}
/* -------------------------------------------------------- */
.header{
  background-color: #1c5288;
  padding: 2rem 1rem;
  color: white;
}
/* ------------------------------------------------------ */
.container{
  width: 50%;
  margin: auto;
  padding: 1rem;
}
.form{
  width: 100%;

}
.fields{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form input{
  display: inline-block;
  width: 49%;
  height: 40px;
  padding: 10px;
  margin: 10px 0;
 border: none;
 outline: none;
transition: all .5s ease;
}
.form input:focus{
  box-shadow: 0px 0px 10px #00000021 , 0px 0px 6px #00000023;
}
.btns{
  text-align: end;
}
.btns button{
  width: 25%;
  padding: 10px;
  outline: none;
  border: none;
  color: white;
  background-color: #008000;
}
